<%= render "layouts/navbar" %>
<div class="mainpages">
	<div class="row">
		<div class="col-sm-2 sidebar-frame">
			<%= react_component "Sidebar", person: get_babysitter, skills: @skills, picture: @picture %>
		</div>	
		<div class="col-sm-6 thumbnail-frame">
			<%= react_component "Thumbnail", thumbs: get_thumbs, currentUser: current_user %>
		</div>
	<div class="col-sm-4">
			<%= react_component "Profile", currentUser: get_current_user %>
		</div>
	</div>
</div>