AlertApp = React.createClass
	
	getInitialState: ->
		alert: {
			alertType : null
			alertLabel : null
		}

	componentDidMount: ->
		{flashAlert} = @props
		if flashAlert
			@setAlert(flashAlert)

	setAlert: (attributes) ->
		@setState(
			alert: attributes
		)
		setTimeout(@hideAlert, 3000)

	hideAlert: ->
		@setState(
			alert: {alertType: null, alertLabel: null}
		)

	render: ->
		{alert} = @state
		{alertType, alertLabel} = alert
		alert_class = classNames("alert ",
			{"alert-success " : alertType == "notify"},
			{"alert-danger " : alertType == "error"},
			{"hidden" : alertType == null}
			{"show" : alertType != null})
		<div id="alertApp" className={alert_class}>
			<button type="button" className="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			{alertLabel}
		</div>


window.AlertApp = AlertApp