<nav class="navbar navbar-default" role="navigation">
	<div>
		<ul class="nav navbar-nav ">
			<li>
				<%= link_to "Login" , users_sign_in_path %>
			</li>
			<li>
				<%= link_to "Register" , new_user_path %>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><span></span><a href="#">Buana Gemstone Hills, Magic stone - Batam</a></li>
		</ul>
	</div>
</nav>
