@import 'modules/users';
@import 'modules/babysitters';
@import 'modules/parents';
@import 'modules/homepages';
$font-title : helvetica,sans-serif;
$font-notice : segoe ui;

.alert{
	height: 22px;
	text-align: center;
	font-size: 12px;
	font-family: segoe ui;
	border-radius: 0px;
	padding: 2px;
	margin-bottom: 0px
}

.nav{
	padding-right:20px;
}
