.babysitters{

  .panel-heading {
    font-family: segoe ui,sans-serif;
    color: "#000";
    font-size: 32px;
  }
  
  .btn-long{
  	width: 100%;
  }

  .well{
  	padding:0px;
  }

  .skill{
  	width: 150px;
  	font-size:12px;
  	line-height: 7px;
    }

}
