$dark-blue: #021025;


.homepages{
	padding:0 0 0 0;

	.header{
		background-color: $dark-blue;
		line-height: 100px;
	
		.brand{
			font-family: segoe ui;

			.col-sm-5{	
				font-size: 36px;
				color: #fff;
			}

			.col-sm-7{
				font-size: 12px;
				color: whitesmoke;
			}
		}

		.menu{
			color: #fff;
			font-family: segoe ui;

			.col-sm-6{
				font-size: 18;
			}

			.col-sm-4{
				
				.sign-up{
					margin: 20px 0 0 0; 
					padding: 5px 10px 5px 10px;
					line-height: 40px;
					border: 2px solid #fff;
					border-radius: 5px;
					font-size: 14px;
					a{ text-decoration: none; color: #fff;margin: 0 5px 0 5px}
					a:hover{ text-decoration: underline;}
				}

			}

			.col-sm-2{
				padding-right:none;

				.btn{
					background-color: #fff;
					color: $dark-blue;
					font-size: 14px;
					font-weight: 20px;
					width: 60px;
					border-radius: 5px;
					outline: none;
				}
			
			}	
		}

	}

	.container{
		padding:none;
	}

	.imageBox{
		max-width: 100%;
		height: 500px;
		background-color: #dedede;

		img{
			width:100%;
			height:100%;
		}
	}

	.overlay{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		visibility: hidden;
	}

	.show{
		visibility: visible;
	}

	.hide{
		visibility: hidden;
	}

	.signup{
		width: 700px;
	}

	.login{
		width: 300px;
	}

	.panel{
		z-index: 999;
		position: fixed;
		right: 50px;
		top: 100px;
		display: none;

		.panel-heading{
			font-size: 18px;
			font-family:segoe ui;
		}

		.panel-body{
			label{
				font-size: 12px;
			}

			textarea{
				font-size: 10px;
			}

			.form-control{
				line-height: 14px;
				font-size: 10px;
			}

			.top{
				margin-top: 5px;
			}

			.form-border{
				border-right: 1px solid #dedede;
			}

			.weak,.normal,.strong{
				margin-top: 2px;
				font-size: 10px;
				text-align: right;
			}

			.weak{color: red}

			.normal{color: orange}

			.strong{color: green}

			.red-border{border-color: red}
		}

		.panel-footer{
			height: 50px;
		}

	}

}

.container-fluid{
	padding-right:none;
}