<!-- partial error message page -->
<% if @user.errors.any? %>
<div class="panel panel-default">
	<div class="panel-heading">
	Warning !! <%= pluralize(@user.errors.count, "error") %> happened, read below 
	</div>

	<div class="panel-body">
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
</div>
<% end %>