Profile = React.createClass
	render: ->
		<div style={border: "1px"} className="profile">
			<div className="row">
				<div className="col-sm-5 logo-img text-center">
					<i className="fa fa-camera fa-4x"></i>
				</div>
				<div className="col-sm-7 label-profile">
					<p className="name"><strong>Lestari Cabie</strong></p>
					<i className="fa fa-star"></i>
					<i className="fa fa-star"></i>
					<i className="fa fa-star"></i>
					<i className="fa fa-star"></i>
					<i className="fa fa-star"></i>
					<h4>Rating. 5.0</h4>
					<div className="pull-right">
						<label className="cost">500K</label>
						<label className="per">/bulan</label>
					</div>
				</div>
			</div>
			<div className="detail">
					<h5>No NIK : 12612848398423</h5>
					<h5>Tempat, Tgl lahir : Boyolali, 15 Maret 1990</h5>
					<h5>usia : 25 tahun</h5>
					<h5>NO Telp : 085647549937</h5>
					<h5>Alamat : Desa Jatirejo Kel Sempu, Kec Andong, Kab Boyolali</h5>
				
			</div>
			<div className="description">
				<p>aku iso kabeh pokok e awakmu ga usah kawatir,, q orang yang serba bisa</p>
			</div>
			<div className="skills">
				<div className="row">
					<div className="col-sm-3">
						<div className="skill">
							<i className="fa fa-camera fa-2x"></i>
						</div>
					</div>
					<div className="col-sm-3">
						<div className="skill">
							<i className="fa fa-camera fa-2x"></i>
						</div>
					</div>
					<div className="col-sm-3">
						<div className="skill">
							<i className="fa fa-camera fa-2x"></i>
						</div>
					</div>
					<div className="col-sm-3">
						<div className="skill">
							<i className="fa fa-camera fa-2x"></i>
						</div>
					</div>
				</div>
					
			</div>
			<div className="button-action pull-right">
				<button className="btn btn-md btn-success">Recruit</button>
				<button className="btn btn-md btn-default">Save into List</button>
			</div>
		</div>


window.Profile = Profile