Kid = React.createClass
	propTypes:
		kid: React.PropTypes.object
		picture: React.PropTypes.object

	getInitialState: ->
		kid: @props.kid
		picture: @props.picture

	render: ->
		{kid, picture} = @state
		{id, name, age, gender, description} = kid
		{picture_url} = picture

		<div className="sidebar-childs text-center">
			<div className="row">
				<div className="col-sm-8 -text-left">
					<a href="">{name}</a>
				</div>
				<div className="col-sm-4">
					<div className="thumbs-child">
						{
							if picture_url?.url
								<img src={picture_url.url} />
							else
								<i className="fa fa-photo fa-1x"></i>
						}
					</div>
				</div>
			</div>
		</div>

Sidebar = React.createClass
	propTypes:
		parent: React.PropTypes.object
		picture: React.PropTypes.object
		Kids: React.PropTypes.array

	getInitialState: ->
		parent: @props.parent
		picture: @props.picture

	getPicture: (arrPic, kidId) ->
		_.find(arrPic, (e) -> e.pictureable_id == kidId)

	render: ->
		{parent, picture} = @state
		{kids} = @props
		{user} = parent
		{picture_url} = picture
		{firstname, lastname, phone_number, address} = user

		kid = (e, key) =>
			picture = @getPicture(e.picture_child, e.id)
			<Kid key={key} kid={e} picture={picture} />

		sideBarImageClassNames = classNames(
			"sidebar-img text-center",
			{"sidebar_padding": if picture_url?.url then false else true}
		)
		<div>
			<div className="sidebar text-center">
				<div className={sideBarImageClassNames}>
					{
						if picture_url?.url
							<img src={picture_url.url} />
						else
							<i className="fa fa-camera fa-2x"></i>			
					}	
				</div>
				<div className="row label-ikon">
					<div className="col-sm-3">
						<div className="label-circle pull-right">
							<i className="fa fa-user fa-2x"></i>
						</div>
					</div>
					<div className="col-sm-9 text-left">
						<hr/>
					</div>
				</div>
				<div className="sidebar-details">
					<h3><strong>{firstname} {lastname}</strong></h3>
					<h5>{phone_number}</h5>
					<h5>{address}</h5>
				</div>
				<div className="row label-ikon">
					<div className="col-sm-3">
						<div className="label-circle pull-right">
							<i className="fa fa-child fa-2x"></i>
						</div>
					</div>
					<div className="col-sm-9 text-left">
						<hr/>
					</div> 
				</div>
				{kids.map(kid)}
			</div>
			<div className="logout text-center">
				<i className="fa fa-power-off fa-2x"></i>
			</div>
		</div>


window.Sidebar = Sidebar