Skill = React.createClass
	propTypes:
		skill: React.PropTypes.object

	getInitialState: ->
		skill: @props.skill

	getSkillClassName: ->
		{ id } = @state.skill

		if id == 1
			"fa fa-camera fa-2x"
		else if id == 2
			"fa fa-photo fa-2x"
		else if id == 3
			"fa fa-bath fa-2x"
		else if id == 4
			"fa fa-briefcase fa-2x"

	render: ->
		{ skill } = @state
		{ id, name, description } = skill
		skillClassNames = @getSkillClassName()

		<div className="sidebar-skill text-center">
			<div className="row">
				<div className="col-sm-8 -text-left">
					<a href="">{name}</a>
				</div>
				<div className="col-sm-4">
					<div className="thumbs-skill">
						<i className={skillClassNames}></i>
					</div>
				</div>
			</div>
		</div>


Kid = React.createClass
	propTypes:
		kid: React.PropTypes.object
		picture: React.PropTypes.object

	getInitialState: ->
		kid: @props.kid
		picture: @props.picture

	render: ->
		{kid, picture} = @state
		{id, name, age, gender, description} = kid
		{picture_url} = picture

		<div className="sidebar-childs text-center">
			<div className="row">
				<div className="col-sm-8 -text-left">
					<a href="">{name}</a>
				</div>
				<div className="col-sm-4">
					<div className="thumbs-child">
						{
							if picture_url?.url
								<img src={picture_url.url} />
							else
								<i className="fa fa-photo fa-1x"></i>
						}
					</div>
				</div>
			</div>
		</div>

Sidebar = React.createClass
	propTypes:
		person: React.PropTypes.object 
		picture: React.PropTypes.object
		Kids: React.PropTypes.array
		skills: React.PropTypes.array

	getInitialState: ->
		person: @props.person
		picture: @props.picture
		skills: @props.skills

	getPicture: (arrPic, kidId) ->
		_.find(arrPic, (e) -> e.pictureable_id == kidId)

	render: ->
		{ person, picture } = @state
		{ kids } = @props
		{ user } = person
		{ picture_url} = picture
		{ firstname, lastname, phone_number, address } = user
		{ skills } = @state

		kid = (e, key) =>
			picture = @getPicture(e.picture_child, e.id)
			<Kid key={key} kid={e} picture={picture} />

		skill = (e, key) =>
			<Skill key={key} skill={e} />

		sideBarImageClassNames = classNames(
			"sidebar-img text-center",
			{"sidebar_padding": if picture_url?.url then false else true}
		)
		<div>
			<div className="sidebar text-center">
				<div className={sideBarImageClassNames}>
					{
						if picture_url?.url
							<img src={picture_url.url} />
						else
							<i className="fa fa-camera fa-2x"></i>			
					}	
				</div>
				<div className="row label-ikon">
					<div className="col-sm-3">
						<div className="label-circle pull-right">
							<i className="fa fa-user fa-2x"></i>
						</div>
					</div>
					<div className="col-sm-9 text-left">
						<hr/>
					</div>
				</div>
				<div className="sidebar-details">
					<h3><strong>{firstname} {lastname}</strong></h3>
					<h5>{phone_number}</h5>
					<h5>{address}</h5>
					{
						if user.role == "babysitter"
							<h5>{person?.nik}</h5>
					}
				</div>
				<div className="row label-ikon">
					<div className="col-sm-3">
						<div className="label-circle pull-right">
							<i className="fa fa-child fa-2x"></i>
						</div>
					</div>
					<div className="col-sm-9 text-left">
						<hr/>
					</div> 
				</div>
				{
					if user.role == "babysitter"
						skills.map(skill)
					else
						kids.map(kid)
				}
			</div>
			<div className="logout text-center">
				<i className="fa fa-power-off fa-2x"></i>
			</div>
		</div>


window.Sidebar = Sidebar