Greeting = React.createClass
	
	render: ->
		<div className="container text-center">
			<div className="greeting">
				<h4>Welcome</h4>
				<h3>Bibibebi</h3>
				<i className="fa fa-google-wallet fa-4x"></i>
				<div>
					<img src="/assets/loading_dots.gif" />
				</div>
			</div>
		</div>

window.Greeting = Greeting