Footer = React.createClass
	render: ->
		<div className="footer text-center">
			<div className="footer-link">
				<i className="fa fa-facebook-square"></i>
				<i className="fa fa-instagram"></i>
				<i className="fa fa-twitter-square"></i>
				<i className="fa fa-pinterest"></i>
			</div>
			<div>
				<p>copyright 2016</p>
			</div>
		</div>

VideoAdvertise = React.createClass
	render: ->
		
		<div className="videoAdvertise text-center">
			<iframe className="videoFrame" src="http://www.youtube.com/embed/"></iframe>
		</div>

Procedure = React.createClass
	render: ->
		<div className="procedure container">
			<div className="procedure-content text-center container-fluid">
				<div>
					<h3>Ingin Tahu Bagaimana Cara Kerjanya ?</h3>
				</div>
				<div className="box-flow">
					<i className="fa fa-mobile-phone ikon"></i>
					<i className="fa fa-mail-forward flow"></i>
					<i className="fa fa-tasks ikon"></i>
					<i className="fa fa-mail-forward flow "></i>
					<i className="fa fa-thumbs-up ikon"></i>
					<i className="fa fa-mail-forward flow "></i>
					<i className="fa fa-user ikon"></i>
				</div>
				<div className="row">
					<div className="col-md-3">
						<p>Daftar dan isi profil anda, lalu posting iklan anda sebagai pencari pengasuh atau orang tua</p>
					</div>
					<div className="col-md-3">
						<p>Temukan Profil Pengasuh yang cocok dengan kebutuhan anda</p>
					</div>
					<div className="col-md-3">
						<p>Pilih pengasuh yang cocok dengan kebutuhan anda, dan pengasuh mengkonfirmasi</p>
					</div>
					<div className="col-md-3">
						<p>Selamat ! Anda telah mendapatkan Pengasuh Terbaik sesuai dengan keinginan anda</p>
					</div>
				</div>
			</div>
		</div>

Benefit = React.createClass
	render: ->
		<div className="benefit container">
			<div>
				<h3>Pengasuh seperti apa yang anda butuhkan ?</h3>
				<h5><b>Bibibebi</b> menyediakan semuanya untuk anda</h5>
			</div>
			<div className="row">
				<div className="col-sm-3">
					<ul>
						<li><i className="fa fa-check"></i> <b>Paruh waktu (Part Time)</b></li>
						<li><i className="fa fa-check"></i> <b>Sehari penuh (Full Time)</b></li>
					</ul>
				</div>
				<div className="col-sm-3">
					<ul>
						<li><i className="fa fa-check"></i> <b>Antar ke pengasuh</b></li>
						<li><i className="fa fa-check"></i> <b>Pengasuh datang ke rumah</b></li>
					</ul>
				</div>
				<div className="col-sm-3">
					<ul>
						<li><i className="fa fa-check"></i> <b>Kontrak</b></li>
						<li><i className="fa fa-check"></i> <b>Non Kontrak</b></li>
					</ul>
				</div>
				<div className="col-sm-3">
					<ul>
						<li><i className="fa fa-check"></i> <b>Layanan tambahan</b></li>
					</ul>
				</div>			
			</div>
		</div>

Promo = React.createClass
	render: ->
		<div className="promo container text-center">
			<div className="promo-title container">
				Mengapa kami menyarankan anda untuk memilih <b>Bibibebi</b> ?
			</div>
			<div className="row">
				<div className="col-md-3">
					<div className="promo-item">
						<i className="fa fa-tablet"></i>
					</div>
					<p> akses aplikasi gratis</p>
				</div>

				<div className="col-md-3">
					<div className="promo-item">
						<i className="fa fa-random"></i>
					</div>
					<p>menemukan pilihan anda dengan cepat dan mudah</p>
				</div>

				<div className="col-md-3">
					<div className="promo-item">
						<i className="fa fa-shield"></i>
					</div>
					<p>Keamanan terjaga dengan kelengkapan identitas pengasuh</p>
				</div>

				<div className="col-md-3">
					<div className="promo-item">
						<i className="fa fa-bookmark"></i>
					</div>
					<p>Menyediakan pilihan pengasuh yang berkualitas</p>
				</div>
			</div>
		</div>

Banner = React.createClass
	render: ->
		<div className="banner container">
			<div className="row">
				<div className="col-md-6">
					<div className="row">
						<div className="banner-font">
							<p> 
								Kami merupakan sebuah <label> Hadiah </label> untuk anda 
							</p>
						</div>
					</div>
					<div className="row">
					</div>
				</div>
				<div className="col-md-6">
				</div>
			</div>
		</div>

ImageContainer = React.createClass 
	render: ->
		<div className="imageBox">
			<img id="img1" src="<%= asset_path('nanny.jpg') %>" />
			<img id="img2" src="<%= asset_path('nanny3.jpg') %>" />
		</div>

Menu = React.createClass
	
	setModalParent: ->
		status = "parent"
		dispatcher.dispatch
			actionType: "set-modal"
			status: status
	
	setModalBabysitter: ->
		status = "babysitter"
		dispatcher.dispatch
			actionType: "set-modal"
			status: status
		
	setModalLogin: ->
		status = "login"
		dispatcher.dispatch
			actionType: "set-modal"
			status: status

	render: ->
		<div className="row">
			<div className="col-sm-6 text-right">
				hanya disini proses aman dan nyaman 
			</div>
			<div className="col-sm-4 text-center">
				<div className="sign-up">
					Mendaftar <a href="javascript:void(0)" className="menuParent" onClick={@setModalParent} >Ortu</a> | <a href="javascript:void(0)" className="menuBabysitter" onClick={@setModalBabysitter}>Pengasuh</a>
				</div>
			</div>
			<div className="col-sm-2 text-left">
				<a href="javascript:void(0)" className="btn btn-sm btn-info" onClick={@setModalLogin} ><b>Login</b></a>
			</div>
		</div>

Brand = React.createClass 
	render: ->
		<div className="row">
			<div className="col-sm-5 text-right">
				Bibibebi
			</div>
			<div className="col-sm-7 text-left">
				solusi terbaik untuk sang buah hati
			</div>
		</div>

Header = React.createClass
	render: ->
		<div className="header">
			<div className="row box">
				<div className="col-sm-5 brand">
					<Brand/>
				</div>
				
				<div className="col-sm-7 menu">
					<Menu/>
				</div>
			</div>
		</div>

Homepages = React.createClass	

	getInitialState: ->
		status: null
		modal: false
		loginStatus: false
		requesting: false
		user: {}	

	componentDidMount: ->
		HomepageStore.createBlankForm()
		HomepageStore.status = null
		HomepageStore.modal = false
		HomepageStore.requesting = false
		HomepageStore.addChangeListener(@onChange)

	componentWillUnMount: ->
		HomepageStore.removeChangeListener(@onChange)

	onChange: ->
		@setState(
			status: HomepageStore.status
			modal: HomepageStore.modal
			user : HomepageStore.user
			requesting: HomepageStore.requesting
		)

	render: ->
	  {status, modal, user,requesting} = @state
	  <div className="container-fluid homepages">
	  	<Header/>
	  	<ImageContainer/>
	  	<Banner/>
	  	<Promo/>
	  	<Benefit/>
	  	<Procedure/>
	  	<VideoAdvertise/>
	  	<Footer/>
	  	<Modal status={status}
	  			modal={modal}
	  			requesting={requesting}
	  			user={user}/>	  			
	  </div>
  	

window.Homepages = Homepages
