// Place all the styles related to the babysitter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.babysitter-profile-mobile{
	background-color: #00112b;
	color: #fff;
}

.babysitter-profile-mobile .body { background-color: #fff; color: #00112b; }
.babysitter-profile-mobile .body img { border: 2px solid #00112b; border-radius: 50%; width: 100px; height: 100px;}
.babysitter-profile-mobile .body table.table tbody tr td { border: none !important; padding: 5px !important; }
.skill-frame { width: 60px; height: 60px; border: 2px solid #00112b; border-radius: 50%; line-height: 60px; }